<div class="container-fluid shadow">
    <div class="row top">
        <div class="col-4">
            <label>Id :</label>
            <input type="text" name="id" [(ngModel)]="newArtist.id" />
        </div>
        <div class="col-4">
            <label>Name :</label>
            <input type="text" name="name" [(ngModel)]="newArtist.name" />
        </div>
        <div class="col-4">
            <label>Description :</label>
            <input type="text" name="description" [(ngModel)]="newArtist.description" />
        </div>
    </div>

    <div class="row">
        <div class="btn">
            <button class="m-2" (click)="create()" onclick="location.reload();">Create</button>
            <button (click)="update()" onclick="location.reload();">Update</button>
        </div>
    </div>

    <table class="mb-2" *ngIf="artists.length > 0">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>description</td>
      </tr>
      <tr *ngFor="let artist of artists">
        <td>{{ artist.id }}</td>
        <td>{{ artist.name }}</td>
        <td>{{ artist.description }}</td>
        <td>
          <button (click)="deleteArtist(artist.id)" onclick="location.reload();">Delete</button>
        </td>
      </tr>
    </table>
    
    <p *ngIf="artists.length == 0">
      Pas d'artiste dans ton cirque.
    </p>
</div>