.facebook, .instagram, .youtube, .twitter {
    height: 75%;
    width: 25%;
    padding-right: 30px;
}

ul {
    list-style-type: none; 
}

.footer-left {
    padding-top: 50px;
    padding-left: 30px;
}

.footer-middle {
    padding-top: 70px;
    padding-left: 85px;
}

.footer-right {
    padding-top: 30px;
    padding-right: 70px;
}

a {
    color: black;
}