<div class="container-fluid cirque-top">
    <img class="cirque" src="../../assets/pictures/cirque.png">
</div>

<div class="row">
    <div class="col">
        <div class="container cirque-middle shadow">
            <h3>Informations</h3>
            <p class="text-information">Le Cirque de la Compagnie ouvre ses portes pendant l'été 2019 à Confluence, pour vous montrez ses plus beaux spectacles. De part nos différents spectacles les enfants et les adultes sont les bienvenues. Le spectacle ne comporte pas d'animaux.</p>
            <button class="bouton-reserver" routerLink="/spectacles">Spectacles</button>
        </div>
    </div>
    <div class="col">
        <div class="container cirque-middle shadow">
            <h3>Horraires</h3>
            <ul class="horraires">
                <li>10 aout 2019 : 14h - 23h</li>
                <li>15 aout 2019 : 14h - 23h</li>
                <li>20 aout 2019 : 14h - 23h</li>
                <li>25 aout 2019 : 14h - 23h</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid cirque-bottom shadow">
    <h3>Histoire</h3>
    <p class="text-histoire">Le Cirque de la Compagnie est une cirque Franco-Suisse créée en 2014. Ses cofondateurs se sont
        rencontrés et formés à l'Ecole de Cirque de Montréal.
        Leurs créations prônent les valeurs du cirque en collectif où l'entraide et le partage sont des valeurs
        fondatrices. L'acrobatie et le rire sont leurs axes de travail principaux.</p>

    <p class="text-histoire">La première création de la compagnie est le numéro "Planche-Mat", médaillé d'or au Festival Mondial du Cirque de
        Demain en 2017. La compagnie se démarque par sa forte identité acrobatique, son humour, sa virtuosité technique,
        les limites qu’ils ont envie de pousser et leur créativité. Souvent, c’est de leur humour personnel que
        naissent leurs créations originales et techniquement remarquables. Si l’on devine la singularité de chaque
        artiste au sein de cette compagnie, c’est surtout dans le groupe que le propos artistique fait sens. Ces
        personnages sont touchants pas leur simplicité et leur humour est communicatif, provocateur.</p>

    <div class="row justify-content-around">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <button routerLink="/artistes">Artistes</button>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <button routerLink="/galerie-photo">Galerie photo</button>
        </div>
    </div>
</div>

<div class="container prix shadow">
    <h3>Prix</h3>
    <table>
        <tr class="block4">
            <th></th>
            <th>Adulte</th>
            <th>Enfant</th>
            <th>Ecole</th>
        </tr>
        <tr>
            <td class="block4">Semaine</td>
            <td>20€</td>
            <td>10€</td>
            <td>
                <ul>
                    <li>5€ par enfant</li>
                    <li>8€ par adulte</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="block4">Week end</td>
            <td>30€</td>
            <td>15€</td>
            <td>
                <ul>
                    <li>10€ par enfant</li>
                    <li>13€ par adulte</li>
                </ul>
            </td>
        </tr>
    </table>
</div>