.cirque {
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.cirque-middle {
  height: 230px;
  padding-top: 20px;
}

.text-histoire,
.text-information {
  text-align: justify;
}

.cirque-bottom {
  margin-top: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.bouton-reserver {
  display: block;
  margin-left: auto;
  margin-right: auto;
}