<div class="container-fluid cirque-top">
    <img class="cirque" src="../assets/pictures/cirque.jpg">
</div>

<div class="row">
    <div class="col">
        <div class="container cirque-middle shadow">
            <h3>Informations</h3>
            <p class="text-information">Le Wild Circus ouvre ses portes pendant l'été 2019 à Confluence, pour vous montrez ses plus beaux spectacles. De part nos différents spectacles les enfants et les adultes sont les bienvenues. Le spectacle ne comporte pas d'animaux.</p>
            <button class="bouton-reserver" routerLink="/reservation">Prix</button>
        </div>
    </div>
    <div class="col">
        <div class="container cirque-middle shadow">
            <h3>Horraires</h3>
            <ul class="horraires">
                <li>Mardi : 18h - 22h</li>
                <li>Mercredi : 14h - 22h</li>
                <li>Jeudi : 18h - 22h</li>
                <li>Vendredi : 18h - 22h</li>
                <li>Samedi : 14h - 22h</li>
                <li>Dimanche : 14h - 22h</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid cirque-bottom shadow">
    <h3>Histoire</h3>
    <p class="text-histoire">Le Wild Circus est une cirque Franco-Suisse créée en 2014. Ses cofondateurs se sont
        rencontrés et formés à l'Ecole de Cirque de Montréal.
        Leurs créations prônent les valeurs du cirque en collectif où l'entraide et le partage sont des valeurs
        fondatrices. L'acrobatie et le rire sont leurs axes de travail principaux.</p>

    <p class="text-histoire">La première création de la compagnie est le numéro "Planche-Mat", médaillé d'or au Festival Mondial du Cirque de
        Demain en 2017. La compagnie se démarque par sa forte identité acrobatique, son humour, sa virtuosité technique,
        les limites qu’ils ont envie de pousser et leur créativité. Souvent, c’est de leur humour personnel que
        naissent leurs créations originales et techniquement remarquables. Si l’on devine la singularité de chaque
        artiste au sein de cette compagnie, c’est surtout dans le groupe que le propos artistique fait sens. Ces
        personnages sont touchants pas leur simplicité et leur humour est communicatif, provocateur.</p>

    <p class="text-histoire">De là naît leur premier spectacle pour l'espace public - "L'avis bidon - Face A" (2016), qui rencontre un
        véritable succès public. Ils créent "L'avis bidon - Face B" (2017), version salle de la Face A. Grâce à ses
        créations Le Cirque la Compagnie connaît un rayonnement international.</p>
    <div class="row justify-content-around">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <button routerLink="/spectacles">Spectacle</button>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
            <button routerLink="/galerie-photo">Galerie photo</button>
        </div>
    </div>
</div>