<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/1.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/2.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/3.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/4.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/5.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/6.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/7.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/8.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/9.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/10.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/11.png">
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-12 galerie">
            <img class="photo" src="../../assets/pictures/12.png">
        </div>
    </div>
</div>