table {
  border-collapse: collapse;
  margin: auto;
  color: black;
  width: 90%;
  height: 300px;
}

td, th
{
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

ul {
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}

h3 {
  text-align: center;
}

.prix {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}