.adresse, .telephone, .email {
    width: 15%;
    height: 55%;
}

.contact {
    margin-bottom: 50px;
}

.icon {
    padding-top: 20px;
}

.formulaire {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    margin-top: 20px;
}